body{
    font-family: SansSerif;
}
.container{
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.container h1 {
    background: linear-gradient(45deg, black, indianred);
    color: white;
    text-align: center;
    padding: 25px;
    margin: 10px;
}